// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range .}}{{.SummaryAsComment }}
// ({{.Method}} {{.Path}})
{{.OperationId}}(ctx *{{.OperationId}}Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}}) error
{{end}}
}

{{ range . }}
{{ $op := . }}
// {{.OperationId}}Context is a context customized for {{.OperationId}} ({{.Method}} {{.Path}}).
type {{.OperationId}}Context struct {
    echo.Context
}
{{- if .HasBody }}

// The body parsers
{{- range .Bodies }}
// Parse{{.NameTag}}Body tries to parse the body into the respective structure and validate it.
func (c *{{$op.OperationId}}Context) Parse{{.NameTag}}Body() ({{$op.OperationId}}{{.NameTag}}Body, error) {
    var resp {{$op.OperationId}}{{.NameTag}}Body
    if err := c.Bind(&resp); err != nil {
        return resp, &ValidationError{ParamType: "body", Err: errors.Wrap(err, "cannot parse as json")}
    }
    if err := resp.Validate(); err != nil {
        return resp, &ValidationError{ParamType: "body", Err: err}
    }
    return resp, nil
}
{{- end }}
{{- end }}

{{- if gt (len .GetResponseTypeDefinitions) 0 }}

// Responses
{{ if $op.HasEmptySuccess }}
// OK returns the successful response with no body.
func (c *{{$op.OperationId}}Context) OK() error {
    return c.NoContent(200)
}
{{- end }}
{{- range .GetResponseIndependentTypeDefinitions }}
{{ $respType := .TypeName }}
{{- if or (eq .ResponseName "1XX") (eq .ResponseName "2XX") (eq .ResponseName "3XX") (eq .ResponseName "4XX") (eq .ResponseName "5XX") }}
// Respond{{.ResponseName}} responses with the given code in range and the JSON response.
func (c *{{$op.OperationId}}Context) Respond{{.ResponseName}}(code int, resp {{$respType}}) error {
    return c.JSON(code, resp)
}
{{- else if (ne .ResponseName "default") }}
{{ $respName := statusText .ResponseName | camelCase | title }}
// {{$respName}} responses with the appropriate code and the JSON response.
func (c *{{$op.OperationId}}Context) {{$respName}}(resp {{$respType}}) error {
    return c.JSON({{.ResponseName}}, resp)
}
{{- end }}
{{- end }}
{{- end }}
{{ end }}

// ValidationError is the special validation error type, returned from failed validation runs.
type ValidationError struct {
    ParamType string // can be "path", "cookie", "header", "query" or "body"
    Param string // which field? can be omitted, when we parse the entire struct at once
    Err error 
}

// Error implements the error interface.
func (v *ValidationError) Error() string {
    if v.Param == "" {
        return fmt.Sprintf("validation failed for '%s': %v", v.ParamType, v.Err)
    }
    return fmt.Sprintf("validation failed for %s parameter '%s': %v", v.ParamType, v.Param, v.Err)
}
